{% extends "task/base.html" %}
{% block content %}


<br><br>
<div class="row">
    <div class="large-12 columns">
        <h2>Tasks</h2>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <form method="POST" id="task-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create Task" class="tiny button">
        </form>
    </div>
</div>



<!-- List of Tasks -->
<div class="row">
    <div class="columns large-12">
    <h2>Your list of ToDos</h2>
        <ul id="talk">
            <!-- JSON VALUES WILL BE INSERTED HERE -->
        </ul>
    </div>
</div>

<script src="static/scripts/task.js"></script>

{% endblock %}
